        body {
            font-family: 'Oswald', sans-serif;
            margin: 0px;
        }
        
        .intro {
            margin: 0px 200px 2px 0px;
            padding: 20px;
            text-align: justify;
        }
        
        .intro p {
            color: blue;
        }
        
        span {
            color: orangered;
        }
        
        section {
            display: flex;
        }
        
        .intro img {
            border-radius: 200px;
            width: 100%;
        }
        
        .link-button {
            text-decoration: none;
            background-color: rgba(255, 68, 0, 0.781);
            border: 1px solid black;
            padding: 5px;
            font-size: large;
        }
        
        .banner {
            background-image: url("./images/top-banner.png");
            background-repeat: no-repeat;
        }
        
        .dream-big img {
            margin: 0px 15px 0px 100px;
            border-radius: 200px;
            width: 80%;
        }
        
        .banner2 {
            background-image: url("./images/dream-bg.png");
            background-repeat: no-repeat;
            background-position: right;
        }
        
        .dream-big {
            margin: 100px 200px 2px 0px;
            padding: 20px;
            text-align: justify;
        }
        
        .dream-big p {
            color: green;
        }
        
        .experience {
            margin-top: 200px;
            margin-bottom: 100px;
            display: flex;
            background-image: url("./images/exp-bg.png");
            background-repeat: no-repeat;
        }
        
        .exp {
            margin-left: 5%;
            margin-right: 5%;
            width: 50%;
            text-align: center;
            box-shadow: 10px 10px 50px green;
            border-radius: 10px;
            padding-left: 5%;
            padding-right: 5%;
            border-left: 10px solid rgba(255, 166, 0, 0.795);
        }
        
        .exp2 {
            border-left: 10px solid rgba(255, 0, 0, 0.733);
        }
        
        footer {
            text-align: center;
        }